$headerBlue: #abeafa;
$mainGray: #f8f8f8;
$lightyellow: #fff51f;
$darkYellow: #faef03;
$darkGray: #333333;
$menuColir: #26d2fc;
$subMenuColor: #75e3fe;
$miniCartColor: #fb4d01;
$darkminiCartColor: #e24602;
$backgraundItemGray: #eaeaea;
$white: #ffffff;
$black: #000000;