$headerBlue: #abeafa;
$mainGray: #f8f8f8;
$lightyellow: #fff51f;
$darkYellow: #faef03;
$darkGray: #333333;
$menuColor: #26d2fc;
$subMenuColor: #75e3fe;
$miniCartColor: #fb4d01;
$darkMiniCartColor: #e24602;
$backgroundItemGray: #eaeaea;
$white: #ffffff;
$black: #000000;
$navigationGray: #aaaaaa;
$fontGray: #707070;