.miniCard {
	width: 270px;
	background-color: $miniCartColor;
	margin-bottom: 10px;
}
.auth {
	background-color: $mainGray;
	display: flex;
	div {
		@include miniCartDIV;
		&:hover {
			background-color: $backgroundItemGray;
		}
	}
	p {
		@include miniCartP;
		color: $miniCartColor;
	}
}
.miniCart_body {
	display: flex;
	flex-direction: column;
}
.miniCart_info {
	display: flex;
}
.miniCart_totalPrise {
	flex: 1;
	padding: 15px 0 15px 80px;
	position: "Raleway-Regular";
	cursor: pointer;
	&:hover {
		background-color: $darkMiniCartColor;
	}
	&:before {
		content: "";
		width: 41px;
		height: 35px;
		position: absolute;
		background-image: url(../image/icon_cart.png);
		left: 26px;
	}
}
.miniCart_prise {
	color: $white;
	font-family: "Raleway-Regular";
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}
.miniCart_item {
	color: $darkYellow;
	font-family: "Raleway-Regular";
	font-size: 12px;
	font-weight: 400;
}
.miniCart_editButton {
	padding: 15px 20px;
	cursor: pointer; 
	&:hover {
		background-color: $darkMiniCartColor;
	}
	span {
		display: block;
		width: 25px;
		height: 30px;
		color: $darkGray;
		font-family: "Raleway-Regular";
		font-size: 10px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.75px;
		padding-top: 22px;
		position: relative;
		&:before {
			content: "\1F7A8";
			color: $darkYellow;
			position: absolute;
			font-size: 27px;
			top: 0;
		}
	}
}
.miniCart_button {
	background-color: $miniCartColor;
	display: flex;
	a {
		@include miniCartDIV;
		&:hover {
			background-color: $darkMiniCartColor;
		}
	}
	p {
		color: $white;
		@include miniCartP;
	}
}
.cart_search {
	background-color: transparent;
	form {
		display: flex;	
	}
	
	input[type="text"] {
		background-color: $backgroundItemGray;
		padding: 10px;
		height: 34px;
		flex: 1;
		&::placeholder {
			color: $black;
			font-family: "Raleway-Regular";
			font-size: 10px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	button {
		display: block;
		background-color: $darkGray;
		border: 0;
		height: 34px;
		padding:11px;
		cursor: pointer;
		&:hover {
			background-color: $darkGray/10;
		}
	}
}
.tagsBlok {
	width: 270px;
	padding: 30px;
	background-color: $white;
	margin-bottom: 30px;
	h3 {
		color: $black;
		font-family: "Roboto-BlackItalic";
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	span {
		display: inline-block;
		background-color: $backgroundItemGray;
		padding: 10px 11px 6px;
		cursor: pointer;
		color: $darkGray;
		font-family: "Roboto-Regular";
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 8px;
		&:hover {
			background-color: $darkYellow;
			color: $black;
			font-weight: bold;
			padding: 10px 10px 6px;
		}
	}
	p {
		color: $black;
		font-family:"Roboto-BlackItalic";
		font-size: 14px;
		font-weight: 900;
		cursor: pointer;
		margin-top: 20px;
		@include textShadow;
	}
}