@import "main";
@import "productsBlok";
@import "cartStep";


.content {
	background-color: $mainGray;
}
.productCart {
	width: 100%;
	table {
		width: 100%;
		tr {
			border-bottom: 1px solid $backgroundItemGray;
		}
		th {
		color: $darkGray;
		font-family: "Roboto-BlackItalic";
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: left;
		}
		.productCart_img {
			display: inline-block;
			width: 70px;
			height: 110px;
			background-color: $backgroundItemGray;
			margin: 15px 15px 10px 10px;
		}
		p {
			width: 186px;
			color: $fontGray;
			font-family: "Roboto-Regular";
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			margin: 0 0 10px 0;;
		}
		.socialMenu_cart {
			display: flex;
			margin-bottom: 20px;
			li {
				margin-right: 20px;
			}
			i {
				color: $darkGray;
			}
		}
		.cart_quantity {
			display: flex;
			align-items: center;
		}
		input[type="number"] {
			width: 36px;
			height: 28px;
			border: 1px solid $backgroundItemGray;
			background-color: $white;
			margin: 0 7px;
		}
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		.minQty,
		.plusQty {
			background-color: $white;
			padding: 3px 5px;
			cursor: pointer;
		}
		span {
			color: $fontGray;
			font-family: "Roboto-Regular";
			font-size: 14px;
			font-weight: 400;
		}
	}
}
.delete {
	width: 14px;
	height: 15px;
	cursor: pointer;
}
.delete::before {
	content: "\1F7A8";
    color: $red;
    font-size: 17px;
}
.coupon {
	margin-top: 20px;
	p {
		color: $darkGray;
		font-family: "Roboto-Regular";
		font-size: 16px;
		font-style: italic;
		text-transform: uppercase;
		padding-bottom: 15px;
	}
	input {
		width: 241px;
		height: 35px;
		border: 1px solid rgba(0, 0, 0, 0.07);
		background-color: $white;
		padding-left: 8px;
		margin-left: 10px;
	}
	button {
		border: none;
		margin-right: 20px;
		background-color: $darkGray;
		color: $white;
		font-family: "Roboto-Regular";
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 13px 17px;
		cursor: pointer;
	}
	a {
		float: right;
		margin: 7px 20px 0 0;
		color: $darkGray;
		font-family: "Roboto-Regular";
		font-size: 14px;
		font-style: italic;
		text-decoration: underline;
	}
}