@import "color";
@import "mixin";


.none {
	display: none;
}
.flex {
	@include flex;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
	display: flex;
    flex-direction: column;
    background: linear-gradient($headerBlue 350px, $mainGray 350px);
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}
header {
	// height: 160px;
	nav {
		height: 100%;
	}
	.socialMenu {
		margin-top: 50px;
	}
}
.logo {
	margin: 25px 70px;
}
.socialMenu {
	width: 160px;
	color: $mainGray;
	@include flex;
	i {
		color: $mainGray;
	}
}


.navigation {
    margin: 30px 20px;
    color: $navigationGray;
    font-size: 12px;
    a {
        font-family: Roboto;
        font-weight: 400;
        color: $navigationGray;
        @include textShadow;
    }
    .active {
        background-color: $darkYellow;
    }
    
}


main {
	height: 100%;
	flex: 1;
	
}
.main_top {
	display: flex;
}
.sidebar {
	flex: 1;
	
}
.content {
	flex: 3;
	flex-direction: column;
}






.menu {
	width: 270px;
	background-color: $menuColor;
	margin-bottom: 30px;
	// &.category {
	// 	background-color: $headerBlue;
	// }
	li {
		padding-left: 40px;
		color: $black;
		font-family: "Roboto - Black";
		font-size: 14px;
		font-weight: 400;
		line-height: 36px;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;	
	}
	&>ul {
		&>li {
			&:hover {
				background-color: $darkGray;
				color: $white;
				&>.subMenu {
					display: block;
				}
			}
		}
	}
}
.headMenu {
	width: 270px;
	height: 66px;
	background-color: $darkGray;
	padding: 30px 0 0 40px;
	p {
		color: $white;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.subMenu {
	display: none;
	position: absolute;
	width: 155px;
	background-color: $subMenuColor;
	top: 0;
	right: -155px;
	z-index: 5;
	ul {
		li {
			position: relative;
			padding-left: 27px;
			&:before {
				content: "\25AA";
				position: absolute;
				left: 14px;
			}
			&:hover {
				&:after {
					height: 14px;
					width: 11px;
					content: "";
					position: absolute;
					right: 14px;
					top: 10px;
					background-image: url(../image/subMenuArrow.png)
				}
				&>.subMenu {
					display: block;
				}
			}
			
		}
	}
}




.banner {
	width: 270px;
	height: 300px;
	background-color: #e0e0e0;
	color: $darkGray;
	font-family: "Raleway - Heavy";
	font-size: 36px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 30px;
	p {
		position: absolute;
		width: 109px;
		bottom: 70px;
		right: 20px;
	}
	
}





.drandBox {
	padding: 5px 0;
	background-color: $white;
	width: 100%;
	height: 160px;
	img {
//		height: 150px;
	}
}





.network {
	display: flex;
	a {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-child(1){
			flex: 1;
			background-color: #3b5997;
			&:hover {
				box-shadow: 0 -8px 10px rgba(59,89,151,0.5);
			}
		}
		&:nth-child(2) {
			flex: 1;
			background-color: #3fccfd;
			&:hover {
				box-shadow: 0 -8px 10px RGBA(63,204,253,.5);
			}
		}
		&:nth-child(3) {
			flex: 1;
			background-color: #cb2027;
			&:hover {
				box-shadow: 0 -8px 10px rgba(203,32,39,.5);
			}
		}
		
	}
}





                  /*-----FOOTER-----*/

footer {
	background-color: #373737;
	p,
	li {
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}	
	span+a {
		color: $white;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
		&:last-child {
			color: $darkYellow;
		}
	}
}
.footer_wrapper {
	height: 300px;
//	margin: 75px 25px 65px;
	padding: 75px 25px 0 25px;
	color: $white;
	display: flex;
	justify-content: space-between;
	h3 {
		font-family: "Raleway - Extra Bold";
		font-size: 18px;
		font-weight: 400;
	}
	ul {
		margin-top: 25px;
		a {
			color: $white;
		}
	}
}
.newsletter {
	input[type="email"] {
		width: 180px;
		height: 30px;
		background-color: $lightyellow;
		padding-left: 20px;
		margin: 20px 0 45px;
		&::placeholder {
			opacity: 0.45;
			color: $darkGray;
			font-family: Roboto;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	input[type="submit"] {
		width: 71px;
		height: 30px;
		background-color: #000000;
		margin-left: -4px;
		padding-top: 3px;
		color: $white;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	}
}
.bancCard>img+img {
	margin-left: 10px;         
}
.aboutUsInfo {
	width: 235px;
	span {
		display: inline-block;
		margin-top: 15px;
		margin-right: 18px;
	}
	
}
.copyright {
	height: 50px;
	background-color: $darkGray;
	p {
		display: inline-block;
		color: #dad9d9;
	}
}
