.miniCard {
  width: 270px;
  background-color: #fb4d01;
  margin-bottom: 10px;
}

.auth {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth div {
  width: 135px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.auth div:hover {
  background-color: #eaeaea;
}

.auth p {
  display: inline-block;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: #fb4d01;
}

.miniCart_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.miniCart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.miniCart_totalPrise {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 0 15px 80px;
  position: relative;
  cursor: pointer;
}

.miniCart_totalPrise:hover {
  background-color: #e24602;
}

.miniCart_totalPrise:before {
  content: "";
  width: 41px;
  height: 35px;
  position: absolute;
  background-image: url(../image/icon_cart.png);
  left: 26px;
}

.miniCart_prise {
  color: #ffffff;
  font-family: "Raleway - Semi Bold";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.miniCart_item {
  color: #faef03;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
}

.miniCart_editButton {
  padding: 15px 20px;
  cursor: pointer;
}

.miniCart_editButton:hover {
  background-color: #e24602;
}

.miniCart_editButton span {
  display: block;
  width: 25px;
  height: 30px;
  color: #333333;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding-top: 22px;
  position: relative;
}

.miniCart_editButton span:before {
  content: "\1F7A8";
  color: #faef03;
  position: absolute;
  font-size: 27px;
  top: 0;
}

.miniCart_button {
  background-color: #fb4d01;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.miniCart_button div {
  width: 135px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.miniCart_button div:hover {
  background-color: #e24602;
}

.miniCart_button p {
  color: #ffffff;
  display: inline-block;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.cart_search {
  background-color: transparent;
}

.cart_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_search input[type="text"] {
  background-color: #eaeaea;
  padding: 10px;
  height: 34px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart_search input[type="text"]::-webkit-input-placeholder {
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart_search input[type="text"]:-ms-input-placeholder {
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart_search input[type="text"]::-ms-input-placeholder {
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart_search input[type="text"]::placeholder {
  color: #0c0c0c;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart_search button {
  display: block;
  background-color: #333333;
  border: 0;
  height: 34px;
  padding: 11px;
  cursor: pointer;
}

.cart_search button:hover {
  background-color: #050505;
}

.tagsBlok {
  width: 270px;
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.tagsBlok h3 {
  color: #000000;
  font-family: "Roboto - Black Italic";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.tagsBlok span {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 10px 11px 6px;
  cursor: pointer;
  color: #333333;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.tagsBlok span:hover {
  background-color: #faef03;
  color: #000000;
  font-weight: bold;
  padding: 10px 10px 6px;
}

.tagsBlok p {
  color: #000000;
  font-family: "Roboto - Black Italic";
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 20px;
}

.tagsBlok p:hover {
  text-shadow: 0 0 3px #333333;
}
/*# sourceMappingURL=sidebarTagsCart.css.map */